# Python
__pycache__/
*.pyc

# Jupyter notebook backups 
.ipynb_checkpoints/
data/methods/temis/tropomi/no2/monthly_mean/no2_201802.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201802.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201803.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201803.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201804.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201804.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201805.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201805.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201806.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201806.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201807.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201807.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201808_clipped.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201808.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201808.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201809.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201809.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201810.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201810.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201811.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201811.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201812.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201812.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201901.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201901.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201902.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201902.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201903.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201903.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201904.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201904.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201905.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201905.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201906.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201906.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201907.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201907.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201908.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201908.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201909.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201909.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201910.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201910.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201911.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201911.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_201912.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_201912.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202001.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202001.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202002.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202002.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202003.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202003.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202004.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202004.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202005.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202005.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202006.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202006.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202007.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202007.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202008.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202008.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202009.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202009.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202010.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202010.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202011.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202011.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202012.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202012.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202101.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202101.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202102.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202102.asc.original.gz
data/methods/temis/tropomi/no2/monthly_mean/no2_202103.asc
data/methods/temis/tropomi/no2/monthly_mean/no2_202103.asc.original.gz
